
/** Layout Client **/
    body{
        background-color: /*#E9E9E9*/ #FFF;
        color: #545454 !important;
    }

    /** Start Header **/
        body header{
            margin-bottom: 0;
            border: none;
            min-height: 50px;
            border-radius: 0;
            position: fixed;
            width: 100%;
            z-index: 100;
            background-color: #00162B;
            padding: 10px 15px 15px;
        }
        body > header > div{
            display: inline-block;
        }
        body header div.logotipo > img{
            width: 200px;
        }
        body > header > div.nombre-sistema{
            float: right;
            font-size: 20px;
            color: #FFF;
            margin-top: 10px;
        }
    /** End Header **/

    /** Start Main Content **/
        aside.aside{
            width: 145px;
            height: 100%;
            background-color: #012C56;
            margin-top: 70px;
            padding-top: 5px;
            position: fixed;
            clear: both;
            z-index: 10;
        }
        section .mensaje-bienvenida{
            position: fixed;
            right: 0;
            left: 0;
            background-color: #EBEBEB;
            text-align: right;
            font-weight: bold;
            padding: 5px 10px;
            border-bottom: 1px solid #C8C8C8;
        }
        section .main-heading{
            padding-top: 28px;
        }
        section.main-content{
            height: auto;
            width: 100%;
            background-color: #FFF;
            margin-top: 65px;
            padding-top: 5px;
            padding-left: 145px;
            position: absolute;
        }
        
        /** Start Aside **/
            ul.navigation-menu{
                list-style: none;
                padding-left: 0;
            }
            ul.navigation-menu > li{
                padding: 5px 0px 5px 15px;
            }
            ul.navigation-menu > li:hover{
                background-color: #002142;
            }
            ul.navigation-menu > li > a{
                text-decoration: none;
                color: #FFF;
                font-size: 16px;
                display: block;
                width: 100%;
            }
            ul.navigation-menu > li > a.active,
            ul.navigation-menu > li > a:hover{
                color: #FFBB35;
            }
        /** End Aside **/
        
        /** Start Content **/
            h1{
                margin-top: 35px;
                text-align: center;
                color: #000;
                font-size: 25px;
                font-weight: bold;
            }
            
            .content{
                padding: 10px 50px;
                padding-bottom: 100px;
            }
            
            div.login-box{
                margin: 0 25%;
                background-color: #F5F5F5;
                padding: 15px 5%;
            }
            div.login-box form{
                padding-top: 20px;
            }
            div.login-box form > .inputs > fieldset{
                margin-bottom: 15px;
            }
            div.login-box form > .inputs > fieldset > label{
                color: #000;
            }
            div.login-box form > .inputs > fieldset > label,
            div.login-box form > .inputs > fieldset > input,
            div.login-box form > .inputs > fieldset > select{
                width: 49%;
            }
            div.login-box form > div.submit-button{
                text-align: center;
                margin-top: 20px;
            }
            
            
            div.filter-horizontal-box {
                background-color: #F5F5F5;
                margin: 15px 5% 30px 5%;
                padding: 20px;
            }
            div.filter-horizontal-box .submit-button{
                width: 19%;
                display: inline-block;
                text-align: right;
            }
            div.filter-horizontal-box .inputs{
                width: 80%;
                display: inline-block;
            }
            div.filter-horizontal-box .inputs > fieldset{
                width: 30%;
                display: inline-block;
            }
            div.filter-horizontal-box .inputs > fieldset input,
            div.filter-horizontal-box .inputs > fieldset select{
                width: 100%;
            }
            
            ul.products-list{
                list-style: none;
                text-align: center;
            }
            ul.products-list > li{
                width: 190px;
                height: 310px;
                border: 1px solid #C8C8C8;
                float: left;
                margin-right: 15px;
                margin-bottom: 20px;
            }
            ul.products-list > li > div.product-img > img{
                width: 172px;
                height: 172px;
                margin: 0 8px;
            }
            ul.products-list > li > div.product-details{
                text-align: left;
                margin: 0 8px;
            }
            ul.products-list > li > div.product-details > .title{
                font-weight: bold;
                height: 40px;
                max-height: 40px;
            }
            ul.products-list > li > div.product-details > .btn-yellow{
                display: block;
                text-align: center;
            }
            
            .btn-gray{
                text-decoration: none !important;
                color: #565656 !important;
                background-color: #D1D1D1;
                font-size: 16px;
                padding: 5px 15px;
            }
            .btn-yellow{
                text-decoration: none !important;
                color: #FFF !important;
                background-color: #FFBB35;
                font-size: 16px;
                padding: 5px 15px;
            }
            .btn-yellow:hover{
                background-color: #FFC754;
            }
            .btn-xs{
                font-size: 12px;
                padding: 4px 7px;
                font-weight: bold;
            }
            
            table thead{
                background-color: #EBEBEB;
                border: 1px solid #C8C8C8;
            }
            table tbody > tr{
                border: 1px solid #DDD;
            }
            td.actions{
                text-align: center;
            }
            
            div.panel{
                padding: 10px 15px;
                margin-top: 0;
            }
            div.panel > .panel-heading{
                padding: 0;
            }
            div.panel > .panel-collapse{
                border: 1px solid #C8C8C8;
                margin-top: -2px;
            }
            div.panel-heading a{
                background-color: #FFBB35;
                display: block;
                height: 100%;
                color: #FFF;
                text-decoration: none;
                padding: 10px;
                font-size: 18px;
            }
            div.panel-heading > a > div{
                width: 30%;
                display: inline-block;
            }
            div.panel-heading a:hover{
                background-color: #FFC754;
            }
            
            input[type="file"]{
                display: inline-block;
            }
            input[type=text],
            input[type=password],
            input[type=number],
            input[type=email],
            select{
                border: 1px solid #C9C9C9;
                color: #575757;
                padding: 3px 7px;
            }
            
            .modal-dialog{
                width: 950px;
            }
            .modal-content{
                border-radius: 0px;
            }
            .modal-title{
                text-align: center;
                color: #000;
                font-size: 25px;
            }
            .modal-footer > div{
                display: inline-block;
            }
            
            .has-error{
                border: 1px solid #fc635b !important;
            }
            .msg-response{
                padding: 5px;
                border-radius: 3px;
                text-align: center;
            }
            .msg-response.msg-error{
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;
            }
            .msg-response.msg-success{
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }
        /** End Content **/
    
    /** End Main Content **/
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
.has-error{
    border: 1px solid #ebccd1;
}
.has-success{
    border: 1px solid #d6e9c6;
}
.btn-yellow.disabled{
    background-color: #FFF;
    color: #FFBB35 !important;
    border: 1px solid #FFBB35;
}